body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    margin-top: 130px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  img{
    border-radius: 50%;
    width: 300px; 
    height: auto; 
    margin-left: 485px;
    margin-top: 15px;
  }